/*
	css rules
	syntax:
		selector{
			property:value;
		}
*/

h1{
	color: yellow  !important;
}

/* 1.universal selector */
/* css reset and change font of every html */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
*{
	font-family: "courier new", monospace;
	font-size: 20px;
}

/* 2.type selector */
body{
	background: skyblue;
}

/* 3.attribute selector */
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy ;
	width: 90%;
}
/* 4.class selector */
.offering-item{
	text-transform: uppercase;
}

/* 5. id selector */

/*h3{
	letter-spacing: 10px;
}*/
#zuitt-motto{
letter-spacing: 5px;
}

/*css selector combinators*/

/*adjacent sibling selector*/
/*
	sibling_element + target_element{
	property:value;
	}
*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/*general sibling selector*/
/*
	sibling_element ~ target_element{
	property:value;
	}
*/

h2 ~ a, a{
	text-decoration: none;
}


/*child selector*/
/*
	selector1 > selector2{
	style:properties;
	}
*/
body > section > form > label{
	color: rgb(0, 0, 128);
}
/*descendant selector*/
/*
	selector1 > selector2{
	style:properties;
*/

#bootcamp-learning-list li{
	color: #075966;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}
/*selector: hover psudo class*/
/*changes the stile when hover*/
a:hover{
	background-color: #b4d6de;
}

/*div for the navigation bar*/
div	{
	display: inline-block;
	float: right;
}

/*landing section and form section*/
section{
	height: 100vh;
	text-align: center;
}

/*welcome to zuitt and register*/
h2{
	font-size: 1.5em;
}

/*list: remove number*/
ol{
	list-style-type: none;
}
/*register form*/
form{
	text-align: center;
	background-color: white;
	border-color: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}
button{
	background-color: #cf0053;
	color: white;
	border:0;
	border-radius: 15px;
}
/*
for more
https://www.w3schools.com/css/css_list.asp
https://www.w3schools.com/cssref/pr_list-style.php
*/