*{
	font-family: "consolas", sans-serif;
	font-size: 1em;
}

#p1{
	color: yellow;
}

h1{
	font-size: 2.5em;
}
#h2_id{
	text-transform: uppercase;
}

.h3_class{
	background-color: lightgreen;
}


li[class="ml"]{
    border: 1px solid black;
}


h3 + ol{
	list-style-type: circle;
}

body img{
	border-radius: 50%;
}


h4 ~ p{ text-align: center; }

section > ul {
	letter-spacing: 20px;
}
